

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o contêiner ocupe pelo menos 100% da altura da tela */
}

.mainContent {
    flex: 1; /* Faz com que a seção principal cresça para ocupar o espaço restante */

    flex-direction: column;
    width: 100%; /* Garante que ocupe toda a largura */
    background-color: rgb(228, 223, 223); /* Cor de fundo do conteúdo */
}
