.card {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    margin: 160px auto;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    text-align: center;
    color: rgb(14, 14, 14);
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.filterDropdown {
    flex: 1;
    min-width: 150px;
}


.cityOrHoodFilter {
    max-width: 140px;
}

.noFilterOrNameActive {
    max-width: 190px;
}

.nameInputContainer {
    flex: 1;
    max-width: 250px;
    margin-left: 30px;
}


.cityDropdown,
.neighborhoodDropdown {
    flex: 1;
    min-width: 150px;
}

.p-dropdown {
    width: 100%;
}


.cityOrHoodFilter {
    max-width: 50px;

}

.noFilterOrNameActive {
    max-width: 40px;

}

.addButtonLink {
    margin-left: auto;
}

.addButton {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #0056b3;
}

.iconSpacing {
    padding-top: 3px;
    margin-right: 8px; 
}


.outerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.innerContainer {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}


.th {
    text-align: center;
    font-weight: bold;
    color: rgb(14, 14, 14);
    padding: 10px;
}

.td {
    border-top: 1px solid #ddd;
    padding: 10px;
}


.tdId,
.tdNome,
.tdCidade,
.tdTelefone {
    text-align: center;
}

.tdIcon {
    display: flex;
    justify-content: flex-end;
    padding-top: 13px;
}

.icon {
    color: #000;
    cursor: pointer;
    margin-left: 5px;
}

.icon:hover{
    color: #434040;
}


.tdId {
    width: 5%;
}

.tdNome {
    width: 30%;
}

.tdCidade {
    width: 40%;
}

.tdTelefone {
    width: 15%;
}


@media (max-width: 768px) {
    .buttonContainer {
        flex-direction: column;
    }

    .filterContainer {
        flex-direction: column;
        align-items: center;

    }


    .filterDropdown,
    .cityDropdown,
    .neighborhoodDropdown,
    .nameInputContainer {
        margin-left: 0;
        margin-bottom: 10px;
   
    }

    .addButton {
        margin-left: 0; 
        align-self: center; 
        width: 50%; 
    }

    .thId,
    .tdId,
    .thCidade,
    .tdCidade {
        display: none;
    }

    .tdNome {
        width: 40%;
    }

    .tdTelefone {
        align-items: center;
    }
}