.card {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1000px;
    margin: 160px auto;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cardTitle {
    font-size: xx-large;
    font-weight: bold;
    flex: 1;
    text-align: center; 
    color: rgb(14, 14, 14);
}


.buttonContainer {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    gap: 10px; /* Espaçamento entre os itens */
    margin-bottom: 1rem;
}

.filterDropdown {
    flex: 1;
}

.activeFilters {
    max-width: 140px;
   
}
.noFilterOrDateActive {
    max-width: 190px;
   
}

.dateContainer {
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 29%;
    gap: 0.5rem;
}

.dateSeparator {
    margin: 0 0.5rem;
}

.p-calendar {
    width: 40%;
}

.personDropdown {
    flex: 1;
   
}

.productDropdown {
    flex: 1; 
}

.addButtonLink {
    margin-left: auto;
}

.addButton {
    margin-left: auto; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.addButton:hover {
    background-color: #0056b3;
}


.outerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.innerContainer {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.th {
    text-align: center;
    font-weight: bold;
    color: rgb(14, 14, 14);
}

.tdId , .tdNome, .tdTotal {
    text-align: center;
}

.tdIcon {
    display: flex;               
    justify-content: flex-end;   
    padding-top: 13px;
}

.icon {
    color: #000; 
    cursor: pointer; 
    margin-left: 5px;         
}
.tdId {
    width: 5%;
}

.tdNome {
    width: 30%;
}




.totalContainer {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}

.inputAreaTotal {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    width: 200px;
    padding-left: 50px; 
}


.label {
    margin-bottom: 5px; 
    text-align: left; 
    width: 100%; 
}

.inputTotal {
    width: 100%; 
    max-width: 150px; 
}


@media (max-width: 600px) {

    .dateContainer{
        margin-left: 0;
    }

    .buttonContainer {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Alinha os itens à esquerda */
    }

    .addButton {
        
        margin-left: 0; /* Remove a margem à esquerda */
        align-self: center; /* Alinha o botão à direita */
        width: 50%; /* Opicional: faça o botão ocupar toda a largura */
    }

    .filterDropdown,
    .personDropdown,
    .productDropdown,
    .dateContainer {
        width: 100%; /* Faz os campos ocuparem toda a largura disponível */
        max-width: 300px; /* Define uma largura máxima para os dropdowns */
        margin-bottom: 10px; /* Espaçamento entre os campos */
        display: flex; /* Garante que os itens dentro sejam flexíveis */
        justify-content: center; /* Centraliza os itens dentro do contêiner */
    }
}


.dateContainer{
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px; 
}